<h1>index of restaurants</h1>
<div class="row">

<% restaurants.forEach((restaurant) => { %>
  <div class="col-4">
    <a href="/restaurants/<%= restaurant.id %>">
      <img class="img-fluid" src="<%= restaurant.image %>" alt="<%= restaurant.name %>">
      <h2><%= restaurant.name %></h2>
      </a>
      <p>
        <%= restaurant.address.line1 %><br>
        <% if(restaurant.address.line2) { %><%= restaurant.address.line2 %><br><% } %>
        <%= restaurant.address.city %><br>
        <%= restaurant.address.postcode %><br>
      </p>

      <ul class="pizza-icon-ul">
        <% while(restaurant.rating--) { %>
          <li class="pizza-icon-li">
            <img class= "pizza-icon-img-index" src='/images/pizza-icon.png'>
          </li>
        <% } %>
      </ul>

      <small>Added by: <%= restaurant.createdBy.username %></small>

  </div>

<% }) %>

</div>
