
<div class="container">


<div class="col-8">
  <h2><%= restaurant.name %></h2>
  <div class="img-container-show">
    <img class = "img-fluid restaurant-img-show"src="<%= restaurant.image %>" alt="<%= restaurant.name %>"> <br>
  </div>
  <div class="restaurant-address">


  <a href="http://maps.google.com/?q=<%= restaurant.name %>,<%= restaurant.address.line1 %>, <% if(restaurant.address.line2) { %><%= restaurant.address.line2 %><br><% } %>, <%= restaurant.address.city %>, <%= restaurant.address.postcode %>">
    <%= restaurant.address.line1 %>,
    <% if(restaurant.address.line2) { %><%= restaurant.address.line2 %>,<% } %>
    <%= restaurant.address.city %>,
    <%= restaurant.address.postcode %>
  </a>
    </div>

  <ul class="pizza-icon-ul">
    <% while(restaurant.rating--) { %>
      <li class="pizza-icon-li">
        <img class= "pizza-icon-img" src='/images/pizza-icon.png'>
      </li>
    <% } %>
  </ul>

  <p class = "review">
    <%= restaurant.review %> <br>
    <small>Written by: <%= restaurant.createdBy.username %></small>
  </p>

  <% if(locals.isAuthenticated && restaurant.belongsTo(user)) { %>
    <a class = "btn btn-secondary"href="/restaurants/<%= restaurant.id %>/edit" class="button">Edit</a>

    <form method="POST" action="/restaurants/<%= restaurant.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class = "btn btn-danger">Delete</button>
    </form>
  <% } %>

  <section>
    <h5>Comments</h5>
    <% restaurant.comments.forEach((comment) => { %>
      <p><%= comment.content %> <br>
      <small>left by: <%= comment.createdBy.username %></small>
      </p>
      <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>

        <form method="POST" action="/restaurants/<%= restaurant.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class= "btn btn-danger">Delete</button>
        </form>
      <% } %>
    <% }) %>
  </section>

  <% if(locals.isAuthenticated) { %>
    <section>
      <h6>Leave a comment:</h6>
      <form method="POST" action="/restaurants/<%= restaurant.id %>/comments">
        <textarea class="form-control" name="content" id="content" placeholder="Comment"></textarea><br>
        <button class="btn btn-outline-success">Post your comment</button>
      </form>
    </section>
  <% } %>
</div>
</div>
