

<div class="col-lg-12">
  <h2><%= restaurant.name %></h2>
  <img class = "img-fluid"src="<%= restaurant.image %>" alt="<%= restaurant.name %>">

  <p>
    <%= restaurant.address.line1 %><br>
    <% if(restaurant.address.line2) { %><%= restaurant.address.line2 %><br><% } %>
    <%= restaurant.address.city %><br>
    <%= restaurant.address.postcode %><br>
  </p>

  <ul class="pizza-icon-ul">
    <% while(restaurant.rating--) { %>
      <li class="pizza-icon-li">
        <img class= "pizza-icon-img" src='/images/pizza-icon.png'>
      </li>
    <% } %>
  </ul>

  <small>Added by: <%= restaurant.createdBy.username %></small> <br>

  <% if(locals.isAuthenticated && restaurant.belongsTo(user)) { %>
    <a class = "btn btn-primary"href="/restaurants/<%= restaurant.id %>/edit" class="button">Edit</a>

    <form method="POST" action="/restaurants/<%= restaurant.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class = "btn btn-primary">Delete</button>
    </form>
  <% } %>

  <section>
    <h4>Comments</h4>
    <% restaurant.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small><%= comment.createdBy.username %></small>

      <% if(locals.isAuthenticated && comment.belongsTo(user)) { %>

        <form method="POST" action="/restaurants/<%= restaurant.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>
      <% } %>
    <% }) %>
  </section>

  <% if(locals.isAuthenticated) { %>
    <section>
      <h4>Leave a comment</h4>
      <form method="POST" action="/restaurants/<%= restaurant.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment" required maxlength="255"></textarea>
        <button class="button">Leave a comment</button>
      </form>
    </section>
  <% } %>
</div>
